.profileBody {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: #f5f5f5;
}

.profileBoxC {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(185, 185, 185);
  width: 500px;
  height: fit-content;
  margin-top: 80px;
  border-radius: 10px;
  padding-bottom: 30px;
}
.nameLine {
  display: flex;
  border-bottom: 1px solid rgb(189, 189, 189);
  justify-content: space-between;
  padding: 10px;
  font-size: 30px;
  color: rgb(76, 76, 76);
  width: 100%;
}
.logoutButt {
  color: white;
  background-color: rgb(31, 43, 83);
  padding: 6px;
  border-radius: 10px;
  width: 80px;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.2s;
}
.logoutButt:hover {
  background-color: rgb(70, 95, 180);
}
