@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #25a6ca, #e6efff);
  border-bottom: 2px solid #d9d9d9;
  height: 80px;
}
.pig {
  width: 80px;
  margin-left: 50px;
}
.tabsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: white;
  border-radius: 8px;
  height: 20px;
  margin-left: 40px;
  cursor: pointer;
}
.dashBoardIcon {
  width: 16px;
  margin-right: 5px;
}
.rightSideHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 60px;
}
.darkButtonContainer {
  display: block;
  margin-right: 30px;
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 160px;
  background: #8dc2ff;
  transition: 0.5s;
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.darkButtonBall {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  transform: scale(0.9);
  transition: 0.5s;
}
.darkIcon {
  left: 35px;
  top: 5px;
  position: absolute;
  width: 20px;
  transform: scale(0.9);
  transition: 0.5s;
}
.moonIcon {
  position: absolute;
  width: 20px;
  top: 5px;
  left: 5px;
  display: none;
  transform: scale(0.9);
  transition: 0.5s;
}
.profileContainer {
  border-radius: 50%;
  background-color: white;
  width: 40px;
  cursor: pointer;
}
.darkChange {
  background-color: #484848;
  .tab {
    color: black;
    background-color: #e0efff;
  }
  .profileContainer {
  }
  .darkButtonBall {
    left: 30px;
  }
  .darkIcon {
    display: none;
  }
  .moonIcon {
    display: block;
  }
  .header {
    background-color: #808080;
    border-bottom: 2px solid #e0efff;
  }
  .calendarDiv {
    background-color: #e0efff;
  }
}
.calendarContainer {
  display: flex;
  justify-content: space-between;
  padding: 17px;
}
.goodMorning {
  font-size: 20px;
  font-weight: bold;
  margin-left: 200px;
}
.calendarDiv {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(186, 186, 186);
  padding: 4px;
  cursor: default;
  border-radius: 10px;
  margin-right: 200px;
  width: 230px;
}
.calendar {
  width: 25px;
}
.calendarArrow {
  cursor: pointer;
}
.main {
  display: flex;
  justify-content: space-around;
  width: 85%;
  margin: 0 auto;
}

.addButtContainer {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  width: 600px;
}
.addButt {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(156, 156, 156);
  width: 280px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.plus {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.graph {
  width: 600px;
}

.cardBox {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.gasto {
  border-color: rgb(255, 106, 106);
}
.renda {
  border-color: rgb(69, 214, 69);
}
.cardGasto {
  color: rgb(255, 106, 106);
}
.inputBox {
  border: 1px solid black;
}
.modalBody {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 400px;
  height: 400px;
  border-radius: 20px;
}
.modalInput {
  text-align: center;
  border: 1px solid rgb(206, 206, 206);
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
.CardInfoInput {
  text-align: center;
  border: 1px solid rgb(206, 206, 206);
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
.cardTitle {
  font-size: 30px;
}
.selectContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  width: 200px;
  position: relative;
}

.select {
  border-bottom: 1px solid black;
  width: 70px;
  padding: 2px;
  cursor: pointer;
}
.selectInfo {
  width: 70px;
  padding: 2px;
  cursor: pointer;
  position: absolute;
  right: 178px;
}
.buttons {
  border: 1px solid black;
  border-radius: 10px;
  width: 80px;
  margin-top: 20px;
  cursor: pointer;
}

.edit:hover {
  color: white;
  background-color: #3697ff;
}
.del {
  display: block;
  color: rgb(255, 106, 106);
  cursor: pointer;
  position: absolute;
  top: 320px;
}
.del:hover {
  color: white;
  background-color: rgb(255, 106, 106);
}
.modalSave {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 100px;
  height: 34px;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #3697ff;
}
.modalSave:hover {
  border-color: rgb(0, 89, 255);
}
.totalContainer {
  margin-top: 0px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.total {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  width: 330px;
}
.balance {
  border-top: 1px solid rgb(120, 120, 120);
}
.totalBox {
  border: 1px solid rgb(216, 216, 216);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin-top: 20px;
}
.cardsContainer {
  height: 900px;
  width: 100%;
  overflow-y: scroll;
}
.cardsContainer::-webkit-scrollbar {
  display: none;
}
.cardInfoBody {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2000;
  justify-content: center;
  align-items: center;
}
.cardInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 400px;
  height: 400px;
  border-radius: 20px;
  position: relative;
}
.totalInfoContainer {
  border: 1px solid rgb(216, 216, 216);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  font-size: 20px;
}
.moreInfo {
  display: flex;
  justify-content: space-between;
  width: 330px;
  padding: 5px;
  border-bottom: 1px solid rgb(225, 225, 225);
}
.filterExpense {
  cursor: pointer;
  transition: 0.3s;
}

.filterExpense:hover {
  color: red;
}
.dateInput::-webkit-calendar-picker-indicator {
  display: none;
}
@media (max-width: 600px) {
  .main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .tab {
    font-size: 10px;
    margin-left: 10px;
    padding: 5px;
  }
  .darkButtonContainer {
    display: block;
    margin-right: 30px;
    position: relative;
    width: 45px;
    height: 20px;
    border-radius: 160px;
    background: #8dc2ff;
    transition: 0.5s;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
      inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  .pig {
    margin-left: 5px;
  }
  .dashBoardIcon {
    width: 10px;
  }
  .goodMorning {
    margin: 0;
  }
  .calendarDiv {
    margin-right: 0px;
    width: 300px;
  }
  .calendarContainer {
    justify-content: center;
    align-items: center;
  }
  .calendar {
    width: 25px;
    height: 25;
  }
  .addButtContainer {
    justify-content: space-between;
    width: 400px;
  }
  .addButt {
    width: 176px;
  }
  .rightSideHeader {
    margin-right: 10px;
  }
  .darkButtonContainer {
    margin-right: 5px;
  }
  .darkButtonBall {
    width: 20px;
    height: 20px;
  }

  .total {
    width: 330px;
  }

  .totalContainer {
    margin-top: 20px;
  }
  .cardsContainer {
    height: 300px;
    width: 90%;
    overflow-y: scroll;
  }
  .graph {
    width: 0px;
    height: 100px;
  }
  .darkIcon {
    left: 19px;
    top: 3px;
    width: 15px;
  }
  .moonIcon {
    width: 15px;
    top: 3px;
    left: 1px;
  }
  .darkChange {
    .darkButtonBall {
      left: 13px;
    }
  }
}
